/* Primera clase
p {
    color: brown;
}

class
.parrafo {
    color: thistle;
}

ID
#titulo {
    font-size: 150px;
} */

.main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}